<!DOCTYPE html>
<html lang="{{ site.lang | default: 'it' }}">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title | default: site.title }}</title>
    <link rel="stylesheet" href="/sito-fede/assets/shirts.css">
  </head>

  <body>
    {%- include header.html -%}

    <main>
      {{ content }}
    </main>

    {%- include footer.html -%}
    
    <script src="/sito-fede/assets/carousel.js"></script>
  </body>

</html>
